// Loading fonts
@import "fonts";

tbody tr:nth-of-type(odd) {
  background-color: #F1F1F1;
}


.table-row{
  font-weight: 700;
}

.table-data{
  text-align: end;
}

.content{
  width: 100%;
}

.data-table {
  filter: drop-shadow(4px 4px 20px rgba(0, 8, 81, 0.1));
  color: #1f2024 !important;
  ::v-deep .v-data-table-header {
    tr {
      th {
        color: #1f2024 !important;
        position: relative;
        text-align: left !important;
        height: 54px;
        .v-icon {
          opacity: 1;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
        }
        &:not(:last-child)::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          border-right: 1px solid #dedede;
          width: 100%;
          height: 40px;
        }
      }
    }
  }
  ::v-deep tbody {
    tr {
      &:hover{
        background: red !important;
      }
      td {
        border-radius: unset !important;
        border: 0px !important;
      }
    }
  }
 ::v-deep tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper)
   {
      background: red !important;
    }
}