// Loading fonts
@import "fonts";
@import "vtextfield";
@import "vstepper";
@import "tables.scss";


body{
  width: 100% ;
}

.v-dialog{
  overflow-y: unset !important;
  overflow-x: unset !important;
}


.v-application .elevation-0 {
  box-shadow: 4px 4px 20px rgba(0, 8, 81, 0.1) !important;
}


.content{
  width: 100%;
}

@media screen and (max-width: 768px) {
  .filter_btn{
    font-size: 14px !important;
    width: 100px !important;
    height: 35px !important;
    margin-top: 5px;
  }
}
