$body-font-family: 'GothamPro';
$font-size-root: 14px;
$btn-letter-spacing: normal;
$btn-text-transform: none;
$card-border-radius: 16px;
$data-table-regular-header-font-size: 16px;
$data-table-regular-row-font-size:16px;
$data-table-border-radius:16px;